.page-wrapper {
    height: 100vh;
    width: 100%;
}

.bg-wrapper {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../../public/background/skills.png);

    @media (max-width: 430px) {
        height: 30vh;
    }
}

.legal-wrapper {
    width: 80%;
    margin: auto;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.title-wrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 120px;
    
    @media (max-width: 430px) {
        margin-bottom: 64px;
    }
}

.text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.m-0 {
    margin: 0;
}