.hover-line-straight-wrap {

    .btn {

        a {
            position: relative;
            text-decoration: none;
            color: white;

            &:hover .img-wrap {
                    width: 100px;
                    transition: width 0.2s ease-in;
                }

            .img-wrap {
                position: absolute;
                top: -8px;
                left: -32px;
                width: 0;
                overflow: hidden;
                transition: width 0.2s ease-in;

                img {
                    height: 40px;
                    width: 100px;
                }
            }
        }
    }
}