.bg {
    background-image: url('../../../../public/background/footer.png');
    background-position: top;
    background-size: cover;
}

.contact-wrap {
    min-height: 60vh;
    width: 85%;
    max-width: 1250px;
    margin: auto;
    padding-top: 144px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1060px) {
        flex-direction: column;
        padding-bottom: 80px;
        .left-wrap {
            width: 100% !important;
        }
        .right-wrap {
            width: 100% !important;
        }
    }

    .left-wrap {
        width: 50%;
    }

    .right-wrap {
        margin-top: 120px;
        width: 40%;

        .top {
            border-top: 2px solid #c09b19;
            border-bottom: 0.5px solid #c09b19;

            &:hover {
                border-top: 2px solid #3355ff;
                border-bottom: 0.5px solid #3355ff;
            }

            &:active {
                border-top: 2px solid white;
                border-bottom: 0.5px solid white;
            }
        }

        .middle {
            border-top: 0.5px solid #c09b19;
            border-bottom: 0.5px solid #c09b19;

            &:hover {
                border-top: 2px solid #3355ff;
                border-bottom: 0.5px solid #3355ff;
            }

            &:active {
                border-top: 2px solid white;
                border-bottom: 0.5px solid white;
            }
        }

        .bottom {
            border-top: 0.5px solid #c09b19;
            border-bottom: 2px solid #c09b19;

            &:hover {
                border-top: 2px solid #3355ff;
                border-bottom: 0.5px solid #3355ff;
            }

            &:active {
                border-top: 2px solid white;
                border-bottom: 0.5px solid white;
            }
        }

        .checkbox {
            margin-top: 24px;
            color: white;
            display: flex;

            label {
                margin-left: 8px;
            }

            a {
                color: #3355ff;
                text-decoration: none;
            }

            .custom-checkbox {
                appearance: none;
                min-width: 18px;
                min-height: 18px;
                max-width: 20px;
                max-height: 20px;
                border: 2px solid #3355ff;
                background-color: transparent;
                cursor: pointer;
                position: relative;
            }

            .custom-checkbox:checked::after {
                content: "✓";
                color: #c09b19;
                font-size: 16px;
                font-weight: 1000;
                position: absolute;
                top: -4px;
                left: 1px;
            }

            .error {
                border: 2px solid #ff3a00;
            }

        }

        .field-wrap {
            display: flex;
            flex-direction: column;
            color: white;
            margin: 24px;

            label {
                font-size: 24px;
            }

            &:hover {
                color: #f87a55;
            }

            .txt-input {
                background-color: transparent;
                border: none;
                color: white;
                font-size: 18px;
                outline: none;
            }

            .error::placeholder {
                color: #ff3a00;
            }
        }
    }

    .btn-wrap {
        display: flex;
        justify-content: end;
        margin-top: 24px;
        margin-right: 24px
    }
}



h5 {
    color: rgb(243, 242, 242);
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
}

h2 {
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 48px;
    text-wrap: wrap;
    color: white;

    @media (max-width: 430px) {
        font-size: 52px;
    }
}

p {
    color: white;
}

.btn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 16px;
    padding: 8px 48px;
    color: white;
    font-size: 18px;
    font-family: Bricolage;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.sent-message {
    display: none;
}

.img-wrap {
    position: relative;

    .img {
        position: absolute;
        top: 68px;
        left: 0;
        width: 0;
        overflow: hidden;
        transition: width 0.2s ease-in;

        img {
            height: 50px;
            width: 300px;

            @media (max-width: 480px) {
                width: 260px;
            }
        }
    }
    .animate {
            width: 450px !important;
            transition: width 0.2s ease-in;
        }
}

.mobi {
    .img-wrap {
    position: relative;

    .img {
        position: absolute;
        top: 0px;
        left: -80px;
        width: 0;
        overflow: hidden;
        transition: width 0.2s ease-in;

        img {
            height: 40px;
            width: 180px;

            @media (max-width: 480px) {
                margin-top: 4px;
                height: 20px;
                width: 110px;
            }
            @media (max-width: 360px) {
                display: none;
            }
        }
    }
    .animate {
            width: 200px !important;
            transition: width 0.2s ease-in;
        }
}
}

.center {
    justify-content: center;
}

.mobi {
    display: none;
}

@media (max-width: 1060px) {
    .mobi {
        display: flex;
    }
    .desktop {
        display: none;
    }
}