:host {
    --img-wrap-left: 0px;
}

.hover-circle-wrap {

    .btn {

        a {
            position: relative;
            text-decoration: none;
            color: white;
            font-weight: 600;

            &:hover .img-wrap {
                width: 90px;
                transition: width 0.2s ease-in;
            }

            .img-wrap {
                position: absolute;
                top: -8px;
                left: var(--img-wrap-left);
                width: 0;
                overflow: hidden;
                transition: width 0.2s ease-in;

                @media (max-width: 696px) {
                    left: -48px;
                }

                img {
                    height: 40px;
                    width: 80px;
                }
            }
        }
    }
}

.project {
    @media (max-width: 985px) and (min-width: 800px) {
        color: black !important;
    }
}