.hover-circle-wrap {

    .btn {

        a {
            position: relative;
            text-decoration: none;
            color: white;

            &:hover .img-wrap {
                    height: 42px;
                    transition: height 0.2s ease-in;
                }

            .img-wrap {
                position: absolute;
                top: -12px;
                left: -18px;
                height: 0;
                overflow: hidden;
                transition: height 0.2s ease-in;
                @media (max-width: 696px) {
                    left: -52px;
                }

                img {
                    height: 40px;
                    width: 110px;
                }
            }
        }
    }
}