:host {
    --img-wrap-width: 0px;
    --img-wrap-offset: 0px;
    --img-width: 0px;
}

.hover-line-blue-wrap {

    .btn {
        position: relative;
        text-decoration: none;
        color: rgb(26, 23, 23);

        &:hover .img-wrap {
            width: var(--img-wrap-width);
            transition: width 0.2s ease-in;
        }

        .img-wrap {
            position: absolute;
            top: 68px;
            left: var(--img-wrap-offset);
            width: 0;
            overflow: hidden;
            transition: width 0.2s ease-in;

            @media (max-width: 340px) {
                top: 48px !important;
            }

            img {
                width: var(--img-width);

                @media (max-width: 430px) {
                    width: 240px !important;
                }

                @media (max-width: 340px) {
                    width: 200px !important;
                }
            }
        }
    }
}

h2 {
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 0;
    text-wrap: nowrap;

    @media (max-width: 340px) {
        font-size: 42px;
    }
}

.auto-shrink {
    .img-wrap {
        @media (max-width: 420px) {
            top: 58px !important;
        }

        @media (max-width: 340px) {
            top: 48px !important;
        }
    }

    h2 {
        @media (max-width: 420px) {
            font-size: 52px;
        }

        @media (max-width: 340px) {
            font-size: 42px;
        }
    }
}

.animate {
    width: var(--img-wrap-width) !important;
    transition: width 0.2s ease-in;
}