.page-wrapper {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;

    overflow-y: scroll;
}

.bg-wrapper {
    min-height: 100vh;
    width: 100%;
    padding-bottom: 64px;
    background-image: url(../../../../public/background/project.png);
    background-color: #1d1d1d;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: center;


    @media (max-width: 1180px) {
        background-position: -50px 0px;
    }

    @media (max-width: 1130px) {
        background-position: -80px;
    }

    @media (max-width: 1090px) {
        background-position: -120px;
    }

    @media (max-width: 995px) {
        background-position: -180px;
    }

    @media (max-width: 985px) {
        height: auto;
        background-position: top;
        background-image: url(../../../../public/background/project_upright.png);
    }

    @media (max-width: 985px) {
        background-size: 110%;
        background-position: 0px -50px;
    }

    @media (max-width: 747px) {
        background-size: 120%;
        background-position: -50px 0px;
    }

    @media (max-width: 730px) {
        background-size: 140%;
        background-position: -120px 0px;
    }

    @media (max-width: 640px) {
        background-size: 160%;
    }

    @media (max-width: 585px) {
        background-size: 185%;
    }

    @media (max-width: 520px) {
        background-size: 210%;
    }

    @media (max-width: 480px) {
        background-size: 225%;
    }

    @media (max-width: 460px) {
        background-size: 225%;
    }

    @media (max-width: 440px) {
        background-size: 240%;
    }

    @media (max-width: 420px) {
        background-size: 265%;
    }

    @media (max-width: 400px) {
        background-size: 280%;
    }

    @media (max-width: 380px) {
        background-size: 290%;
    }

    @media (max-width: 360px) {
        background-size: 300%;
    }

    @media (max-width: 340px) {
        background-size: 320%;
    }

    @media (max-width: 320px) {
        background-size: 340%;        
    }
}

.long-project {
    @media (max-width: 835px) {
        background-size: 150%;
    }

    @media (max-width: 635px) {
        background-size: 190%;
    }

    @media (max-width: 530px) {
        background-size: 220%;
    }
    
    @media (max-width: 460px) {
        background-size: 255%;
    }

    @media (max-width: 420px) {
        background-size: 285%;
    }

    @media (max-width: 400px) {
        background-size: 320% !important;
    }

    @media (max-width: 360px) {
        background-size: 350% !important;
    }
    
    @media (max-width: 340px) {
        background-size: 380% !important;
    }

    @media (max-width: 320px) {
        background-size: 400% !important;
    }

    @media (max-width: 308px) {
        background-size: 450% !important;
    }
    
    @media (max-width: 274px) {
        background-size: 500% !important;
    }
}

.minimal-btn {
    position: relative;
    top: 0px;
    left: -36px;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 700;
    font-family: Bricolage;
    transform: scale(1.0);
    transition: transform 0.3s ease;

    &.next-button {
        position: relative;
        top: 36px;
        left: auto;
        right: -36px;
        color: white;
    }

    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    @media (max-width: 985px) {
        position: absolute;
        top: auto;
        bottom: 30px;
        color: white;
    }
}

.content-wrapper {
    position: relative;
    top: 64px;
    z-index: 2;
    width: 85%;
    display: flex;
    padding-bottom: 64px;
    align-items: start;
    margin: auto;

    .btn {
        background-color: transparent;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 16px;
        padding: 8px 16px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-family: Bricolage;

        &:hover {
            cursor: pointer;
        }
    }

    a {
        text-decoration: none;
    }

    .left-content {
        width: 65%;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 16px;
        overflow-y: visible;

        @media (max-width: 1225px) {
            width: 75%;
        }

        @media (max-width: 1125px) {
            width: 82%;
        }

        @media (max-width: 985px) {
            width: 100%;
            max-width: none;
        }
    }

    .tech-list {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 30px;
        background: transparent;
    }

    .right-wrapper {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30px;

        .image-container {
            display: flex;
            justify-content: end;

            & img {
                border-radius: 24px;
                margin-bottom: 30px;
                min-width: 420px;
                max-width: 520px;

                @media (max-width: 1120px) {
                    min-width: 320px;
                    max-width: 420px;
                }

                @media (max-width: 570px) {
                    min-width: 180px;
                    max-width: 320px;
                }
            }
        }

        @media (max-width: 1400px) {
            width: 82%;
        }

        @media (max-width: 1100px) {
            width: 60%;
        }

        @media (max-width: 985px) {
            width: 100%;
        }

        @media (max-width: 510px) {
            margin-top: 48px;
        }

        @media (max-width: 410px) {
            margin-top: 64px;
        }
    }

    .button-wrapper {
        display: flex;
        justify-content: end;
        gap: 24px;
        background: transparent;
        @media (max-width: 1000px) {
            margin-top: 12px;
        }

        @media (max-width: 510px) {
            margin-top: 36px;
        }
    }

    @media (max-width: 985px) {
        flex-direction: column;
        width: 70%;
        margin-top: 24px;
    }
}