.page-wrapper {
    height: 100%;
    width: 100%;
}

.bg-wrapper {
    height: 100%;
    width: 100%;
    background-image: url(../../../../public/background/project.png);
    background-color: #1d1d1d;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}