.about-content {
    min-width: 70%;
    max-width: 1050px;
    display: flex;
    margin: auto;
    padding-top: 144px;
    padding-bottom: 166px;

    @media (max-width: 1050px) {
        margin: 0 24px;
    }

    .wrap-left {
        margin-top: 12px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrap-yellow {  
        position: relative;
        rotate: -4deg;
        z-index: 2;

        .img-wrap {
            position: absolute;
            top: 12px;
            rotate: -1deg;
            width: 400px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 40px;
                width: 40px;
            }

            p {
                margin-left: 8px;
                font-size: 24px;
                color: #F8F9FA;
                text-wrap: nowrap;
            }
        }

        .yellow-bg {
            height: 120px;
            width: 420px;

        }
    }

    .wrap-blue {
        
        position: relative;
        rotate: -1deg;
        margin-top: -54px;
        z-index: 1;

        .img-wrap {
            position: absolute;
            top: 20px;
            rotate: -1deg;
            width: 400px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-top: 10px;
                height: 40px;
                width: 40px;
            }

            p {
                margin-left: 8px;
                font-size: 24px;
                color: #F8F9FA;
                text-wrap: nowrap;
            }
        }

        .blue-bg {
            height: 120px;
            width: 420px;

        }
    }

    .wrap-orange {
        position: relative;
        rotate: 2.5deg;
        margin-top: -32px;
        z-index: 0;

        .img-wrap {
            position: absolute;
            top: 16px;
            rotate: 2deg;
            width: 400px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-top: 10px;
                height: 40px;
                width: 40px;
            }

            p {
                margin-left: 8px;
                font-size: 24px;
                color: #F8F9FA;
                text-wrap: nowrap;
            }
        }

        .orange-bg {
            height: 120px;
            width: 420px;

        }
    }
}

.wrap-right {
    width: 55%;

    @media (max-width: 1050px) {
        width: 45%;
    }

    h5 {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 20px;
        font-weight: normal;
    }

    .btn-wrap {
        display: flex;
        justify-content: end;
    }

    p {
        margin-top: 40px;
    }

    .btn {
        margin-top: 24px;
        background-color: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 16px;
        padding: 8px 16px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-family: Bricolage;

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 900px) {
    .wrap-left {
        margin-top: 80px !important;
    }
    .wrap-right {
        width: 35%;
        margin-right: 24px;
    }
    .about-content {
        justify-content: space-between;
    }
}

@media (max-width: 760px) {
    .wrap-right {
        width: 55%;
    }
    .wrap-left {
        margin-top: 48px important;
        width: 85% !important;
    }
    .about-content {
        padding-top: 48px;
        padding-bottom: 60px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .img-wrap {
        img {
            height: 48px !important;
        }
    }
}

@media (max-width: 400px) {
    .wrap-left {
        width: 100% !important;
    }
    .wrap-right {
        width: 85%;
    }
    .bg {
        width: 280px !important;
    }
    .img-wrap {
        margin: auto;
        width: 100% !important;
        top: 22px !important;

        img {
            height: 32px !important;
        }
        p{
            font-size: 18px !important;
        }
    }
}

