.hover-circle-wrap {

    .btn {

        a {
            position: relative;
            text-decoration: none;
            color: white;
            font-weight: 600;

            &:hover .img-wrap {
                width: 112px;
                transition: width 0.2s ease-in;
            }

            .img-wrap {
                position: absolute;
                top: 4px;
                left: -24px;
                width: 0;
                overflow: hidden;
                transition: width 0.2s ease-in;

                @media (max-width: 696px) {
                    left: -54px;
                }

                img {
                    height: 40px;
                    width: 110px;
                }
            }
        }
    }
}

.project {
    @media (max-width: 985px) and (min-width: 800px) {
        color: black !important;
    }
}