.main-wrap {
    height: 100vh;
    width: 100%;
    background-image: url('../../../../public/background/atf-bg.png');
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-content {
        width: 95%;
        margin-top: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title-wrap {
            width: 700px;
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        .title-image-wrap {
            display: flex;
            width: 100%;
        }

        .btn-wrap-col-l {
            width: 50%;
            margin-right: 64px;
            display: flex;
            flex-direction: column;
            
        }
        .btn-wrap-col-r {
            display: flex;
            flex-direction: column;
            align-items: end;
        }

    }
}

.btn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 16px;
    padding: 8px 16px;
    color: white;
    font-size: 18px;
    font-family: Bricolage;

    &:hover {
        cursor: pointer;
    }
}

.hello-btn-wrap {
    display: flex;
    flex-direction: column;
}

.social-wrap {
    .flex-col {
        margin-top: -1px;
    }
}

.soc-img {
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease-in,;
    &:hover {
        background-color: #4c67eb;
        overflow: hidden;
    }
}

h1 {
    font-size: 112px;
    color: white;
    margin: 0;
}

.image-border-wrap {
    margin-left: 6vw;
    rotate: (8deg);

    img {
        margin-top: -24px;
        background-image: url('../../../../public/img/atf/test-pic.jpg');
        background-size: 260px;
        background-repeat: no-repeat;
        overflow: hidden;
        height: 220px;
        filter: grayscale(100%);
    }

    .hover {
        filter: grayscale(0%);
    }

    p {
        position: absolute;
        top: 72%;
        left: 28%;
        margin-top: 8px;
        font-family: Kalam;
        font-size: 24px;
    }

    .title-one {
        width: 440px;
    }

    .title-two {
        width: 610px;
    }

}