<div class="main-wrap">
    <div class="main-content">
        <div class="title-wrap">
            <div class="title-image-wrap">
                <div class="btn-wrap-col-l">
                    <div class="hello-btn-wrap" id="helloBtnWrap">
                        <app-blue-hover-btn></app-blue-hover-btn>
                    </div>
                    <div class="">
                        <h1 appHighlightLetter class="title-one">{{lang.fullstack}}</h1>
                    </div>
                </div>
                <div class="image-border-wrap desktop" (mouseenter)="imageHover=true; colorImage();"
                    (mouseleave)="imageHover=false; colorImage();">
                    <img id="greyImage" src="img/atf/polaroid-frame.png" alt="Picture of Miles">
                    @if (!imageHover) {
                    <p>Miles :)</p>
                    } @else {
                    <p>Miles :D</p>
                    }
                </div>
            </div>
            <div class="btn-wrap-col-r">
                <h1 appHighlightLetter class="title-two">{{lang.developer}}</h1>
                <a href="#contact" pageScroll [pageScrollDuration]="640" [pageScrollOffset]="10" class="btn" 
                    [@buttonHover]="standardHoverAnimation ? 'hover' : 'normal'"
                    (mouseenter)="toggleHover()" (mouseleave)="toggleHover()">
                    {{lang.getintouch}}
                </a>
            </div>
            <div class="image-border-wrap image-border-wrap-mobi mobi">
                <img src="img/atf/polaroid-frame.png" alt="Picture of Miles">
                @if (!imageHover) {
                <p>Miles :)</p>
                } @else {
                <p>Miles :D</p>
                }
            </div>
        </div>
        <div class="social-wrap w-90 mw-1440px flex desktop">
            <div class="flex-col">
                <a href="https://linkedin.com"><img class="soc-img" src="img/social/linked-in.svg"
                        alt="Contact Linked In"></a>
                <a href="https://github.com/pirus99"><img class="soc-img" src="img/social/git-hub.svg"
                        alt="View Github"></a>
                <a href="mailto:Miles.Pickull@gmx.de"><img class="soc-img" src="img/social/mail.svg"
                        alt="Contact Mail"></a>
            </div>
        </div>
    </div>
</div>