.main-wrap {
    height: 100vh;
    width: 100%;
    background-image: url('../../../../public/background/atf-bg.png');
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-content {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title-image-wrap {
            display: flex;
            flex-direction: row;
            margin-right: 10vw;
        }

        .btn-wrap-col-r {
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-left: 10vw;
        }

    }
}

.btn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 16px;
    padding: 8px 16px;
    color: white;
    font-size: 18px;
    font-family: Bricolage;

    &:hover {
        cursor: pointer;
    }
}

.hello-btn-wrap {
    display: flex;
    flex-direction: column;
}

.soc-img {
    &:hover {
        background-color: #4c67eb;
        border-radius: 50%;
        overflow: hidden;
    }
}

h1 {
    font-size: 112px;
    color: white;
    margin: 0;
}




