    .foot-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 85%;
        max-width: 1360px;
        margin: auto;
        background-color: rgb(82, 66, 66);
        padding-bottom: 80px;

        .foot-title {
            img {
                height: 60px;
            }

            p {
                margin: 0;
            }
        }

        nav {
            position: absolute;
            top: 60px;
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding-bottom: 20px;

            a {
                text-decoration: none;
                color: #F8F9FA;
            }
        }
    }

app-btn-clear-line-z {
    margin-top: 4px;
}