    .foot-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 85%;
        max-width: 1360px;
        margin: auto;
        background-color: transparent;
        padding-bottom: 80px;

        @media (max-width: 540px) {
            padding-bottom: 180px;
        }


        .foot-title {
            img {
                height: 60px;
            }

            p {
                margin: 0;
                color: white
            }
        }

        nav {
            position: absolute;
            top: 80px;
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: end;
            margin-bottom: 40px;

            @media (max-width: 660px) {
                flex-wrap: wrap;
            }

            a {
                text-decoration: none;
                color: #F8F9FA;
            }
        }
    }

    app-btn-clear-line-z {
        margin-top: 4px;
    }